name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        run: |
          for dir in */; do
            folder_name="${dir%/}"
            dockerfile_path="$dir/Dockerfile"

            if [ -f "$dockerfile_path" ]; then
              echo "Building image for folder: $folder_name"
              
              docker build "$dir" -f "$dockerfile_path" \
                -t "${{ secrets.DOCKERHUB_USERNAME }}/$folder_name:latest"
              
              docker push "${{ secrets.DOCKERHUB_USERNAME }}/$folder_name:latest"
            else
              echo "No Dockerfile found in $folder_name, skipping."
            fi
          done
